*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    background-color: rgb(175, 228, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80%;
    width: 75%;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

.left-container{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    height: 100%;
    width: 70%;
    /* background-color: rgb(243, 235, 242); */
    padding-top: 10vh;
    margin-left: 8vw;
}

.div p{
    font-weight: 500;
    margin-top: 1vh;
}

.button{
    height: 20vh;
    width: 100%;
    /* background-color: aqua; */
}

.button button{
    height: 28%;
    width: 60%;
    margin: 1vw 0vw;
    border-radius: 50px;
    border: none;
    font-size: 1vw;
    font-weight: 500;
    border: 1px solid rgb(185, 183, 183);
}

.div h6{
    padding-left: 6vw;
    font-weight: 100;
    color: rgb(201, 204, 208);
}

.div label{
    font-weight: 500;
}

.div input{
    height: 6vh;
    width: 19vw;
    padding: 0 2vw;
    border-radius: 50px;
    border: none;
    border: 1px solid rgb(185, 183, 183);
    margin-top: .5vw;
    margin-bottom: .6vw;
}

.div h5{
    padding-left: 11vw;
    font-weight: 500;
    color: rgb(49, 12, 151);
}

.login{
    height: 6vh;
    width: 19vw;
    border: none; 
   
}

.login button{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 1px solid rgb(185, 183, 183);
    background-color: rgb(49, 12, 151);
    color: white;   
    font-size: 1.1vw;
    margin-top: 1vw;
}

.login button:hover{
cursor: pointer;
}

.button button{
    cursor: pointer;
}

.right-container{
    height: 100%;
    width: 50%;
    background-color: rgb(66, 27, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.box{
    height: 85%;
    width: 75%;
    background-color: hsla(249, 97%, 69%, 0.3);
    border-radius: 10px;
}

.box h1{
    padding: 2vw;
    color: white;
}

.right-container img{
    height: 38vh;
    width: 12vw;
    position: absolute;
    top: 17vw;
    left: 20vw;
}

.hand{
    height: 6vh;
    width: 3vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 3.6vw;
    bottom: 7vw;  
    text-align: center;
    padding-top: .4vw; 
}
.logo{
    height: 6vh;
    width: 3vw;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 3.6vw;
    top: 12vw;  
    text-align: center;
    padding-top: .4vw; 
}